.padding-5 {
    padding: 5px !important;
}

.padding-10 {
    padding: 10px !important;
}

.fade {
    float: right;
   opacity: 0;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
   }

.fade:hover {
    opacity: 1;
}

.padding-top-0 {
    padding-top: 0px !important;
}

.padding-bottom-0 {
    padding-bottom: 0px !important;
}

.padding-left-0 {
    padding-left: 0px !important;
}

.padding-left-50 {
    padding-left: 50px !important;
}

.fixed-col-300 {
    width: 300px !important;
}

@media screen and (max-width:1100px){
	.fixed-col-300 {
        width: 100% !important;
    }
}

.fixed-col-750 {
    width: 750px !important;
    clear: none;
}

.middle {
    display: flex !important;
    width: 100% !important;
}

@media screen and (min-width:1100px){
	.middle {
        width: 1400px !important;
    }
}


@media screen and (max-width:1000px){
	.fixed-col-750 {
        width: 100% !important;
    }
}

.comment-container {
    border-radius: 10px;
}

.picture {
    width: 100%;
    height: 100%;
}

.video {
    width: 100%;
    height: 100%;
}

.image-round {
    border-radius: 100%;
    border: solid #fff;
}

.bg-comment {
    border-radius: 20px;
    background-color: white;
}

.btn-reset {
    padding: 0px !important;
    border-style: none !important;
    border: 0 !important;
    background: none !important;
}

.media-post {
    width: 100%;
    height: 100%;
    position: relative;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.media-caption {
    position: absolute;
    z-index: 1000;
    padding: 20px;
    color: aliceblue;
}

.media-date {
    position: absolute;
    z-index: 1001;
    right: 0px !important;
    color: antiquewhite;    
}

.p-relative {
    position: relative !important;
}

.trailing {
    position: absolute;
    z-index: 1000;
    left: 50px !important;
    top: -2px;
}

.bg-olive {
    background-color: #D0D050 !important;
}

.bg-purple {
    background-color: #F5EEF8 !important;
}

.ad-website  {
    position: absolute;
    z-index: 1000;
    bottom: 0px;
    right: 0px;
    color: brown;
    padding: 10px;
    display: flex;
    align-items: center;
}

.ad-slogan {
    position: absolute;
    z-index: 1000;
    top: 50px;
    color: dimgray;
    padding: 20px;
}

.bg-ad {
    background-color: #EAFAF1 !important;
}

.bg-profile {
    background-color: #FDEDEC !important;
}

.bg-schedule {
    background-color: #FDF2E9 !important;
}

/* schedule */
.schedule-title {
    position: absolute;
    top: 0px;
    z-index: 1000;
    padding: 20px;
}

.schedule-description {
    position: absolute;
    z-index: 1000;
    top: 50px;
    color: dimgray;
    padding: 20px;
}

.schedule-priority {
    position: absolute;
    z-index: 1000;
    bottom: 0px;
    padding: 20px;
    font-size: 16px;
}

.schedule-date {
    position: absolute;
    z-index: 1000;
    bottom: 0px;
    right: 0px;
    color: brown;
    padding: 10px;
    font-size: 16px;
}
/* end schedule */
